.commerce-main-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: var(--size-2xl);
}

.commerce-info h3 {
  margin-bottom: 1rem;
  font-size: var(--size-base);
  font-weight: 600;
}

.commerce-info p {
  margin-top: -3.2px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.8;
}

.commerce-info hr {
  margin-bottom: 1rem;
}

.commerce-info-row {
  flex-wrap: nowrap;
  display: flex;
  gap: 1;
}

.commerce-tags {
  display: none;
}

.commerce-dates {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
}

.cms-info-img {
  margin-top: 1.5rem;
}

.template-info h3 {
  color: var(--clr-secondary-text);
}

.template-info p {
  letter-spacing: 0.7px;
}

/* TODO: missing line */
.template-info a {
  text-decoration: dashed;
}

.warning-message {
  color: red;
}

.template-info-link {
  margin-bottom: 4rem;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
}

.template-info-banner-link {
  margin-bottom: -12px;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
}

/* xxs */

/* @media screen and (min-width: 390px)  */

/* xs */

/* @media screen and (max-width: 400px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

/* @media (min-width: 768px) {} */

/* base */
@media (width >= 900px) {
  .commerce-info h1 {
    font-size: 2rem;
  }

  .commerce-info h3 {
    font-size: var(--size-base);
  }

  .commerce-info p {
    max-width: 100%;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  .commerce-tags {
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 90px;
    height: 24px;
    margin-right: 15px;
    font-size: 0.8rem;
    color: var(--clr-slate50);
    letter-spacing: 0.8px;
    text-align: center;
    border-radius: 3px;
    background-color: #006acd;
  }

  .tag1 {
    background-color: #999;
  }

  .tag2 {
    background-color: #cd0000;
  }

  .tag4,
  .tag5 {
    color: white;
    background-color: white;
  }

  .commerce-dates {
    font-size: 1rem;
  }

  .template-info p {
    letter-spacing: 0.7px;
  }

  .template-info-link {
    font-size: 1rem;
  }

  .template-info-banner-link {
    font-size: 1rem;
  }
}

/* lg */
@media (width >= 1024px) {
  .template-info {
    margin-top: 4rem;
  }
}

/* xl */

/* @media (min-width: 1280px) {} */

/* 2xl */

/* @media (min-width: 1536px) {} */
