/* stylelint-disable media-feature-range-notation */
.features-main-heading {
  margin-top: var(--size-6xl);
}

.feature {
  flex-direction: column;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  gap: 1rem;
}

.features-content {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.features-heading {
  font-size: var(--size-4xl);
  font-weight: 500;
  color: #696a6a;
  text-align: center;
}

.features-subheading {
  margin-top: 22px;
  font-size: var(--size-xs);
  color: var(--clr-gray400);
  letter-spacing: 0.5em;
  text-align: center;
  opacity: 0.5;
}

.features-title {
  margin-top: -25px;
  font-size: var(--size-lg);
  font-weight: 500;
  letter-spacing: -0.5px;
  text-decoration: underline;
}

.features-description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: #797a7a;
  letter-spacing: 1.7px;
}

/* xxs */

/* @media screen and (min-width: 390px)  */

/* xs */

/* @media screen and (min-width: 400px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

/* @media (min-width: 768px) {} */

/* base */
@media (min-width: 900px) {
  .feature {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .features-heading {
    font-size: 2.8rem;
  }

  .features-subheading {
    font-size: 0.9rem;
  }

  .features-img {
    width: 27.775rem;
    height: auto;
  }

  .features-title {
    font-size: 1.3rem;
  }

  .features-description {
    font-size: 0.9rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .features-heading {
    font-size: 2.8rem;
  }

  .features-subheading {
    font-size: 0.875rem;
  }

  .features-img {
    width: 86.775rem;
    height: auto;
  }

  .features-description {
    max-width: 100%;
    color: #797a7a;
  }
}

/* xl */

/* @media (min-width: 1280px) {} */

/* 2xl */

/* @media (min-width: 1536px) {} */
