/* stylelint-disable media-feature-range-notation */
.header {
  background-color: var(--clr-gray800);
}

.nav-container {
  display: none;
}

.header-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  row-gap: 15px;
}

.header-container {
  justify-content: space-between;
  order: 1;
  display: flex;
  border: 1px dotted red;
}

.header-logo {
  display: none;
}

.header-logo-mobile {
  width: var(--size-7xl);
  height: auto;
  border: 1px dotted red;
}

.hamburger-btn {
  width: var(--size-3xl);
  height: auto;
  color: var(--clr-gray800);
  border: 1px dotted red;
}

.contact-btn-container {
  order: 3;
  text-align: center;
  border: 1px dotted red;
  border-radius: 5px;
  background: linear-gradient(#ffc000, #ffa800);
}

.contact-btn {
  padding: 7px 18px;
  font-size: var(--size-sm);
  font-weight: 800;
  color: var(--clr-contact-btn-text);
  letter-spacing: -0.6px;
}

/* xxs */
@media screen and (min-width: 400px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .header-logo-mobile {
    display: none;
  }

  .header-logo {
    order: 1;
    display: block;
    width: var(--size-8xl);
    height: auto;
    border: 1px dotted red;
  }

  .header-container {
    order: 3;
  }

  .hamburger-btn {
    margin-left: 10px;
  }

  .contact-btn-container {
    order: 2;
    margin-left: auto;
  }

  .contact-btn {
    font-size: var(--size-md);
    font-weight: 500;
    color: var(--clr-gray900);
    letter-spacing: -0.2px;
  }
}

/* xs */

/* @media screen and (width >= 480px)  */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

/* @media (min-width: 768px) {} */

/* base */
@media screen and (min-width: 900px) {
  .header-logo {
    width: var(--size-9xl);
    height: auto;
    margin-right: 15px;
  }

  .hamburger-btn {
    display: none;
  }

  .nav-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: var(--clr-slate500);
  }

  .nav-container ul {
    display: flex;
  }

  .nav-container ul li {
    margin-left: 20px;
    letter-spacing: -0;
  }

  .contact-btn-container {
    order: 3;
    margin-left: auto;
  }

  .contact-btn {
    padding: 12px 30px;
    font-size: var(--size-base1);
    font-weight: 500;
    color: var(--clr-gray900);
    letter-spacing: -0.2px;
  }
}

/* lg */

/* @media (width >= 1024px) {} */

/* xl */

/* @media (min-width: 1280px) {} */

/* 2xl */

/* @media (min-width: 1536px) {} */
