/* stylelint-disable media-feature-range-notation */
.header {
  background-color: var(--clr-gray800);
}

.nav-container {
  display: none;
}

.header-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  row-gap: 15px;
}

.header-container {
  justify-content: space-between;
  order: 1;
  display: flex;
  border: 1px dotted red;
}

.header-logo {
  display: none;
}

.header-logo-mobile {
  width: var(--size-7xl);
  height: auto;
  border: 1px dotted red;
}

.hamburger-btn {
  width: var(--size-3xl);
  height: auto;
  color: var(--clr-slate500);
  border: 1px dotted red;
}

.contact-btn-container {
  order: 3;
  text-align: center;
  border: 1px dotted red;
  border-radius: 5px;
  background: linear-gradient(#ffc000, #ffa800);
}

.contact-btn {
  padding: 7px 18px;
  font-size: var(--size-sm);
  font-weight: 500;
  color: var(--clr-gray900);
  letter-spacing: -0.6px;
}

/* xxs */
@media screen and (min-width: 400px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .header-logo-mobile {
    display: none;
  }

  .header-logo {
    order: 1;
    display: block;
    width: var(--size-8xl);
    height: auto;
    border: 1px dotted red;
  }

  .header-container {
    order: 3;
  }

  .hamburger-btn {
    margin-left: 10px;
  }

  .contact-btn-container {
    order: 2;
    margin-left: auto;
  }

  .contact-btn {
    font-size: var(--size-md);
    font-weight: 500;
    color: var(--clr-gray900);
    letter-spacing: -0.2px;
  }
}

/* xs */

/* @media screen and (width >= 480px)  */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

/* @media (min-width: 768px) {} */

/* md */

/* @media (width >= 900px) {
  .header {
    align-items: center;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu-container {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .menu-links {
    align-items: center;
    display: flex;
    padding: 0;
    border: 1px dotted red;
    list-style: none;
    gap: 2em;
  }

  .header-links,
  .contact-button {
    font-size: var(--size-xs);
    font-weight: 600;
    color: var(--clr-slate500);
    letter-spacing: -0.1em;
    text-decoration: none;
    transition: color 0.3s;
  }

  .header-links:hover {
    color: var(--clr-gray600);
  }

  .menu-mobile-contact,
  .menu-nav-bars {
    display: none;
  }

  .menu-contact {
    align-items: center;
    display: flex;
    border: 1px dotted red;
    list-style: none;
  }

  .menu-nav-bars {
    display: none;
  }
} */

/* lg */

/* @media (width >= 1024px) {
    .header-content {
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      margin: 0 auto;
    }

    .header-logo {
      width: var(--size-8xl);
      height: auto;
      margin-right: 50px;
      border: 1px dotted red;
    }

    .menu-container {
      width: 475px;
      margin-right: auto;
    }

    .menu-links {
      justify-content: space-between;
      display: flex;
      border: 1px dotted red;
    }

    .header-links {
      border: 1px dotted red;
    }

    .hamburger-btn {
      display: none;
    }
  } */

/* xl */

/* @media (min-width: 1280px) {} */

/* 2xl */

/* @media (min-width: 1536px) {} */
