/* stylelint-disable media-feature-range-notation */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--clr-slate50);
  letter-spacing: 0.5rem;
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--clr-button);
}

.btn:hover {
  background-color: var(--clr-button-hover);
}

/* xxs */

/* @media screen and (min-width: 390px)  */

/* xs */
@media screen and (max-width: 400px) {
  .header-container {
    max-width: 93%;
    min-height: 150px;
    margin: 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .section {
    margin-top: 6rem;
  }
}

/* xs */
@media screen and (min-width: 400px) {
  .header-container {
    max-width: 100%;
    min-height: 100px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .section {
    margin-top: 6rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .header-container {
    padding-right: 1.6rem;
    padding-left: 2.1rem;
  }

  .section {
    margin-top: 6rem;
  }
}

/* md */

/* @media screen and (width >= 768px) {} */

/* base */
@media screen and (min-width: 900px) {
  .header-container {
    padding-right: 3.6rem;
    padding-left: 3rem;
  }

  .section {
    margin-top: 6rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header-container {
    max-width: 1718px;
    margin: 0 auto;
    padding-right: 1.6rem;
  }

  .section {
    margin-top: 6rem;
  }
}

/* xl */

/* @media (min-width: 1280px) {} */

/* 2xl */

/* @media (min-width: 1536px) {} */
